body {
  background: rgb(50, 60, 90);
  width: 100vw;
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-top: 3px;
}

body>h1, body>p {
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}

div {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
}

div>h1 {
  margin-bottom: 20px;
  display: block;

  font-weight: 700;
  color: white; 
}

button[type="submit"] {
  margin: 0 auto;

  padding: 10px;
  border: none;
  border-radius: 5px;
  display: block;

  width: 300px;
  height: 50px;
  
  background: rgb(50, 60, 90);
  /*border: 1px solid white;
  border-radius: 20px;*/
  
  color: white;
  font-size: 20px;
  
  cursor: pointer;
  
  transition: 0.1s all ease-in-out;
}

button[type="submit"]:hover {
  background: rgb(63, 76, 115);
}

form input[type='text'], form input[type='number'] {
  margin-bottom: 15px;
  padding: 10px;
  width: 60vw;
  margin: 0 auto;
  
  background: rgb(50, 60, 90, 0.4);
  border: 1px solid white;
  border-radius: 10px;
  
  color: white;
  font-size: 20px;
  
  cursor: pointer;
  
  transition: 0.1s all ease-in-out;
}

label {
  font-size: 25px;
}

.container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.output {
    font-weight: bold;
    text-align: center;
}